.body-class{
    background-color: burlywood;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.prince{
    background-color: navy;
    color:white;
    text-align: center;
    padding: 30px;
    margin: 100px auto;
    width: 70%;
    border-radius: 15px;
    border: 3px solid yellow;
}

h1{
    color: yellow;
    font-size: 40px;
}

div{
     color:white;
     font-size: 18px;
}