.name{
    color: yellow;
    background-color: green;
    
}

.body-class{
    background-color: red;
    border: 5px solid yellow;
    padding: 20px;
}

.prince{
    color:green;
    text-align:center;
    background-color: navy;
    border-radius: 10px;

}